<div class="card container animate__animated animate__swing pointer" *cdkVirtualFor="let show of shows" (mouseenter)="onPreInformation(show.id)" (dblclick)="detail(show.id)" style="width :25%">
    <div>
        <img *ngIf="show.poster_path == null, else imgOk" src="assets/img/imgNoDisponible.jpg" class="card-img-top animate__animated animate__fadeIn ">

        <ng-template #imgOk>
            <img src="http://image.tmdb.org/t/p/original/{{show.poster_path}}" class="card-img-top animate__animated animate__fadeIn ">
        </ng-template>

    </div>


    <div class="overlay">
        <div class="text">
            <h5>{{show.name}}</h5>
            <p>rating</p>

            <p>{{ show.vote_average}}%</p>
            <!--<p>{{ show.popularity | rating }}</p> if popularity is the rating, i made this pipe-->
            <div *ngIf="actors.length > 0,else noInfo">
                <p>with</p>
                <span class="badge badge-danger" *ngFor="let actor of actors">
                    {{actor.name}}
                </span>
            </div>
            <ng-template #noInfo>
                No information!
            </ng-template>
        </div>
    </div>
</div>